<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ site.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<script src="{{ '/assets/js/navigation.js' | relative_url }}"></script>

<body>

  <main class="portfolio">

    <aside class="sidebar">

      <img
  src="{{ '/assets/images/photo.jpg' | relative_url }}"
  alt="Photo de Maurice KAGNON"
  class="profile-photo"
>

     <h1>{{ site.title }}</h1>

<p class="sidebar-role">
  Développeur web · Informatique · Technologies
</p>

    
      <nav class="sidebar-nav">

  <a href="#accueil">🏠 Accueil</a>

  <a href="#a-propos">👨‍💻 À propos</a>

  <a href="#competences">🛠️ Compétences</a>

  <a href="#mes-projets">🚀 Projets</a>

  <a href="#formation">🎓 Formation</a>

  <a href="#apprentissage">📈 Apprentissage</a>

  <a href="#objectifs">🎯 Objectifs</a>

  <a href="#me-contacter">📫 Me contacter</a>

</nav>

    </aside>

    <section class="content">
      {{ content }}
    </section>

  </main>

</body>
</html>